.table_absences tr {
    grid-template-columns: 0.8fr 1fr 0.7fr 2fr 2fr;
    gap: 5px;
}

#absences .info {
    z-index: 2;
    position: fixed;
    width: max-content;
    max-width: 800px;
    height: 100px;
    top: 20px;
    right: 150px;
    border-radius: 100vw;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#absences .info h3 {
    padding: 0 50px;
    margin: 0;
    color: var(--background-color);
}


@media screen and (max-width: 600px) {
    .table_absences tr td {
        padding: 10px 0;
    }

    .table_absences .icon {
        font-size: 2.5rem;
    }	

    .table_absences tr td:nth-child(3) {
        flex-wrap: wrap;
    }	

    #absences h1 {
        color: transparent;
        text-decoration: none;
    }
    
    #absences .info {
        height: 80px;
        left: 10px;
    }

    #absences .info h3 {
        font-size: 1.5rem;
        padding: 0 20px;
        margin: 5px 0;
    }
}